@page "/"
@inject GetData GetData
@using BlazorEmployee.Modals

<PageTitle>Employee Status</PageTitle>
<table class="table caption-top">
  <caption>List of users</caption>
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Position</th>
      <th scope="col">Salary</th>
      <th scope="col">age</th>
      <th scope="col">Join Date</th>
    </tr>
  </thead>
  <tbody>
        @foreach (var Employee in Employees)
        {
        <tr>
          <th scope="row">@Employee.ID</th>
          <td>@Employee.Name</td>
          <td>@Employee.Position</td>
          <td>@Employee.Salary</td>
          <td>@Employee.Dob</td>
          <td>@Employee.Age</td>
        </tr>
        }
  </tbody>
</table>

@code{
    [Inject]
    private GetData? data { get; set; }
    private List<Employee> Employees { get; set; }

    protected override void OnInitialized()
    {
        Employees = GetData.EmployeeData();
    }
}