@page "/"
@implements IAsyncDisposable
@inject IJSRuntime JSRuntime
@inject NavigationManager navigate
@inject ModalService modal
@implements IDisposable


<PageTitle>Employee Status</PageTitle>

<h3>List of User</h3>
<div class="row">
    <div class="col-md-1 col-sm-10 mx-sm-auto m-1 d-grid">
        <button @onclick="AddEmployee" class="btn btn-outline-success">Add</button>
    </div>
    <div class="form-group col-md-5 col-sm-10 mx-sm-auto m-1">
        <div class="input-group">
            <input class="form-control" @onchange="HandleSearch" placeholder="Search..." />
        </div>
    </div>
    <div class="form-group col-md-5 col-sm-10 mx-sm-auto m-1">
        <select @onclick="HandleSelect" class="form-control" id="position" @bind="SelectPosition">
            <option value="" disabled selected>-- Select Employee' Position --</option>
            <option value="">All</option>
            <option value="Manager">Manager</option>
            <option value="Senior">Senior</option>
            <option value="Junior">Junior</option>
        </select>
    </div>
</div>

@if (FilterEmployee == null){
    <p>Loading ....</p>
} else {
@if (WindowWidth < 768)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in FilterEmployee.Select((data, index) => (data, index)))
            {
                <tr>
                    <td scope="row">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">@(employee.index + 1)</li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Name: @employee.data.Name</li>
                            <li class="list-group-item">Position: @employee.data.Position</li>
                            <li class="list-group-item">Salary: @employee.data.Salary</li>
                            <li class="list-group-item">Date of Birth: @employee.data.Dob.ToString("d-MMM-yyyy")</li>
                            <li class="list-group-item">JoinDate: @employee.data.JoinDate.ToString("d-MMM-yyyy h:mm tt")</li>
                            <li class="list-group-item">
                                <div class="btn-group" role="group">
                                    <button @onclick="() => EditModal(employee.data.ID)" type="button" class="btn btn-outline-success">
                                        <i class="fas fa-binoculars"></i>
                                    </button>
                                     <button @onclick="() => EditEmployee(employee.data.ID)" type="button" class="btn btn-outline-primary">
                                        <i class="fas fa-user-edit"></i>
                                    </button>
                                    <button @onclick="() => DeleteOpen(employee.data)" type="button" class="btn btn-outline-danger">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Salary</th>
                <th scope="col">Date of birth</th>
                <th scope="col">Join Date</th>
                <th scope="col">Settings</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var employee in FilterEmployee.Select((data, index) => (data, index)))
            {
                <tr>
                    <th scope="row">@(employee.index + 1)</th>
                    <td>@employee.data.Name</td>
                    <td>@employee.data.Position</td>
                    <td>@employee.data.Salary</td>
                    <td>@employee.data.Dob.ToString("d-MMM-yyyy")</td>
                    <td>@employee.data.JoinDate.ToString("d-MMM-yyyy h:mm tt")</td>
                    <td>
                        <div class="btn-group" role="group">
                            <button @onclick="() => EditModal(employee.data.ID)" type="button" class="btn btn-outline-success">
                                <i class="fas fa-binoculars"></i>
                            </button>
                            <button @onclick="() => EditEmployee(employee.data.ID)" type="button" class="btn btn-outline-primary">
                                <i class="fas fa-user-edit"></i>
                            </button>
                            <button @onclick="() => DeleteOpen(employee.data)" type="button" class="btn btn-outline-danger">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
}

@if (DeleteView)
{
    <Modal Close="DeleteClose" ButtonTitle="Delete Employee">
        <button type="button" @onclick="DeleteClose" class="btn btn-primary mx-1">Close</button>
        <button type="button" class="btn btn-danger" @onclick="HandleDelete">Delete</button>
    </Modal>
}
@if (EditView)
{
    <Modal Close="EditClose" ButtonTitle="Edit Employee">
        <EditEmployee isEditView="false" Id="EditEmployeeId"></EditEmployee>
    </Modal>
}

@code{
    //Project Setup
    [Inject]
    public GetData? Data { get; set; } // move to import.razor
    private List<Employee>? FilterEmployee { get; set; }

    private string? SearchString { get; set;  }
    private string? SelectPosition { get; set; }

    protected bool DeleteView { get; set; } = false;
    private Employee? DeleteEmployee { get; set; }

    private bool EditView { get; set; } = false;
    private int EditEmployeeId { get; set; }


    //for Browser Resize and lifeCycle
    private DotNetObjectReference<Index>? _objectReference;
    public int WindowWidth { get; set; }
    protected async override void OnInitialized()
    {
        SearchTable();

        //for Browser Resize
        _objectReference = DotNetObjectReference.Create(this);
        await IntialWidthListener();
        modal.modalClick += ABC;

    }

    private void ABC(string key, object obj )
    {
        SearchTable();
        EditClose();
        StateHasChanged();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ResizeWindowWidthListener();
            StateHasChanged();
        }
    }
    public async ValueTask DisposeAsync()
    {
        await JSRuntime.InvokeVoidAsync("RemoveWindowWidthListener", _objectReference);
        _objectReference?.Dispose();
        modal.modalClick -= ABC;
    }





    //for Browser Resize
    [JSInvokable]
    public void UpdateWindowWidth(int windowWidth)
    {
        WindowWidth = windowWidth;
        StateHasChanged();
    }

    [JSInvokable]
    public void GetInitalWidthCS(int windowWidth)
    {
        WindowWidth = windowWidth;
        StateHasChanged();
    }
    // Listen Resize and Dispose
    private async Task IntialWidthListener()
    {
        await JSRuntime.InvokeVoidAsync("GetInitalWidthJS", _objectReference);
    }
    private async Task ResizeWindowWidthListener()
    {
        await JSRuntime.InvokeVoidAsync("AddWindowWidthListener", _objectReference);
    }



    //Search and filter Function
    private void SearchTable()
    {
        var result = Data.Employees;

        if (!string.IsNullOrWhiteSpace(SearchString))
        {
            result = result.FindAll(d => d.Name.Contains(SearchString.Trim(), StringComparison.OrdinalIgnoreCase));
        }

        if (!string.IsNullOrWhiteSpace(SelectPosition))
        {
            result = result.FindAll(d => d.Position.Contains(SelectPosition, StringComparison.OrdinalIgnoreCase));
        }

        FilterEmployee = result;
    }
    private void HandleSearch(ChangeEventArgs e)
    {
        SearchString = e?.Value?.ToString();
        SearchTable();
    }
    private void HandleSelect()
    {
        SearchTable();
    }



    //Navigate
    //AddEmployee
    public void AddEmployee()
    {
        navigate.NavigateTo("/editEmployee");
    }
    //EditEmployee
    public void EditEmployee(int Id)
    {
        navigate.NavigateTo($"/editEmployee?id={Id}");
    }



    //Delete Modal
    public void DeleteOpen(Employee employee)
    {
        DeleteView = true;
        DeleteEmployee = employee;
    }
    public void DeleteClose()
    {
        DeleteView = false;
        SearchTable();
        StateHasChanged();
    }
    public void HandleDelete()
    {
        Data.DeleteEmployee(DeleteEmployee.ID);
        DeleteClose();
    }

    //Edit Modal 
    public void EditModal(int Id)
    {
        EditView = true;
        EditEmployeeId = Id;
    }
    public void EditClose()
    {
        EditView = false;
        StateHasChanged();
    }
    public void Dispose()
    {
        modal.modalClick -= ABC;
    }
}