@*https://chrissainty.com/understanding-cascading-values-and-cascading-parameters/ *@

@page "/cascading"

<h3>Cascading_Values_Parameters</h3>

<CascadingValue Value="@TheAnswer">
    <CasFooComponent></CasFooComponent>
</CascadingValue>

@*Type*@
<CascadingValue Value="@FruitName">
    <CascadingValue Value="@FruitCount">
        <CasTypeFruit></CasTypeFruit>
    </CascadingValue>
</CascadingValue>

@*Name*@
<CascadingValue Name="FirstFruit" Value="@FirstFruit">
    <CascadingValue Name="SecondFruit" Value="@SecondFruit">
        <CasSameFruit></CasSameFruit>
        <CasNameFruit></CasNameFruit>
    </CascadingValue>
</CascadingValue>

@*Performence*@
<CascadingValue Value="@FruitName" IsFixed="true">
    <CasIsFixed></CasIsFixed>
</CascadingValue>

@*Test Updating from Child*@
<CascadingValue Value="@FruitName">
    <UpC1></UpC1>
    <UpC2></UpC2>
</CascadingValue>

@*Using Event to update from child to parent*@
<CascadingValue Value="@Fruit">
    <UpC3 OnClick="ChangeFruit"></UpC3>
    <UpC2></UpC2>
</CascadingValue>
@code {
    int TheAnswer = 42;

    string FruitName { get; set; } = "Apple";
    int FruitCount { get; set; } = 111;

    string FirstFruit { get; set; } = "Apple";
    string SecondFruit { get; set; } = "Banana";

    private string Fruit { get; set; } = "Kiwi";

    private void ChangeFruit(string newFruit)
    {
        Fruit = newFruit;
        StateHasChanged();
    }
}